*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/radio_ricardo/.idea
/radio_ricardo/build/*
/radio_ricardo/build
/radio_ricardo/gradle
/radio_ricardo/gradlew.bat
/radio_ricardo/.gradle